*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
example/.local_repo
example/.capistrano
example/.vagrant
example/log
example/vendor
example/try_rails4
.ruby-version
vendor/
